body {
    margin: 0;
    padding: 0;
    background-color:#FDE2FF;
    font-family: 'Inter';
    font-style: normal;
}

header {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto 0;
    z-index: 10;
}

a {
    cursor: pointer;
    text-decoration: none;
}
